html {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}
body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
}
main {
    width: 100%;
    height: 50vh;
    border-bottom: 1px solid black;
    display: flex;
}
.left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2rem;
}    
img {
    width: 80%;
    height: 50%;
    background-color: aliceblue;
}
p {
   text-align: left;
}
.right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 2rem;
}
input {
    background-color: gray;
}
#one {
    margin-right:1rem;
    margin-bottom: 1rem;
}
#two {
    margin-left: 0.5rem;
}
button {
    background-color: green;
    width: 21rem;
    height: 2rem;
}
.bottom {
    width: 100%;
    height: 50vh;
    background-color: aqua;
}

@media screen and (max-width: 576px) {
    main {
        height: 50vh;
        display: block;
    }
    .left,
    .right {
        width: 100%;
        height: 50%;
    }
    .left,
    .right {
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    img {
        width: 60%;
        height: 60%;
    }
}